#info-panel {
  //padding-left: 20px;
}

#info-panel-heading {
  padding-top: 10px;
  //padding-left: 20px;
}

circle:hover {
  stroke-width: 1px;
  stroke: red;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link path {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.selected {
  stroke: red;
  stroke-width: 2px;
  fill: yellow;
}
