/deep/ #playground {
  text {
    text-anchor: middle;
    pointer-events: none;

  }

  .can-drill {
    stroke-width: 5px;
    stroke: #dee2e6;
  }

  .leaf {
    stroke-width: 2px;
    stroke: #ffec99;
  }

  .playground-line {
    stroke-width: 5px;
    stroke: #ffb4aa;
    fill: none;
  }

  .playground-line-warn {
    stroke-width: 5px;
    stroke: red;
    fill: none;
  }

  .playground-line.active {
    stroke: limegreen;
  }

  .playground-link-text {
    text-anchor: 'middle';
    font-size: 11px;
  }

  circle:hover {
    stroke-width: 1px;
    stroke: red;
  }
}

