/deep/ #playground {

  text {
    text-anchor: middle;
    pointer-events: none;

  }

  .can-drill {
    stroke-width: 5px;
    stroke: #dee2e6;
  }

  .leaf {
    stroke-width: 1px;
    stroke: #ffec99;
  }

  .playground-line {
    stroke-width: 2px;
    stroke: black;
    fill: none;
  }

  #arrow {
    path {
      fill: black;
    }
  }
  #r_arrow {
    path {
      fill: black;
    }
  }

  .playground-link-text {
    text-anchor: 'middle';
    font-size: 11px;
  }

  circle:hover {
    stroke-width: 1px;
    stroke: black;
  }
}

