<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="nav-title">
    <img class="d-inline-block align-top"
         src="../../assets/huawei_logo.png"
         alt="" width="30" height="30">
    <span id="title">{{title}}</span>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.disabled]="i===configs.length-1"
          *ngFor="let config of configs; let i = index" [attr.data-index]="i"
          [class.active]="i==configs.length-1">
        <a class="nav-link" (click)="update(i)">{{config.label}}</a>
      </li>
    </ul>
  </div>
</nav>
