/deep/ #app-tree-svg {
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  .node text {
    font: 12px sans-serif;
  }
  .link path {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

}

#app-tree-wrapper {
  border-radius: 5px;
  border: darkslategray solid 1px;
}
