<app-navbar #nav (updateEvent)="back($event)" [title]="title"></app-navbar>
<div id="main-body" class="container-fluid">
  <div class="row">
    <app-playground #playground class="col-sm-12"
                    (selected)="select($event)"
                    (drill)="drill($event)">
    </app-playground>
  </div>
  <div class="row">
    <textarea #labels class="col-sm-6" name="" id="labels" cols="30" rows="10"></textarea>
    <textarea #matrix class="col-sm-6" name="" id="matrix" cols="30" rows="10"></textarea>
    <button class="btn btn-primary" id="generate-btn" (click)="generate();">generate</button>
  </div>

</div>
