/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

text {
  text-anchor: middle;
  pointer-events: none;
}

.can-drill {
  stroke-width: 5px;
  stroke: #dee2e6;
}

.leaf {
  stroke-width: 2px;
  stroke: #ffec99;
}

#copyright {
  padding-top: 5px;
  padding-right: 5px;
}

.playground-line {
  fill: none;
  stroke-width: 5px;
  stroke: #ffb4aa;
}

.playground-link-text {
  text-anchor: 'middle';
  font-size: 11px;
}

.playground-line-import {
  stroke: red;
}
